%nav.main-menu-wrapper
  %ul.main-menu
    %li.main-menu__item
      %a.main-menu__item-link{href: "/add"} Add entry
    %li.main-menu__item
      %a.main-menu__item-link{href: "/view"} View entries

- content_for(:title) do
  Main Menu
